<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group mb-3">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="Name" v-model="name">
                        </div>
                        <div class="form-group mb-3">
                          <label for="city">City</label>
                          <input type="text" class="form-control" name="city" id="city" aria-describedby="helpId" placeholder="City" v-model="city">
                        </div>
                        <button type="submit" class="btn btn-primary" @click="enviarDatos()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import { eventBus } from '../eventBus.js'

    export default {
        data(){
            return {
                name:'',
                city:''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            enviarDatos(){
                let self = this;
                axios.post('/api/users', {
                    name: this.name,
                    city: this.city
                }).then(response=>{
                    self.name = '';
                    self.city = '';
                    eventBus.$emit('pushUser')
                })
            }

        }
    }
</script>
