<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>City</th>
                                    <th>Opcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user in users" :key="user.id">
                                    <td scope="row">{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.city }}</td>
                                    <td><button type="button" class="btn btn-danger" @click="deleteEl(user.id)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { eventBus } from '../eventBus.js'

    export default {
        data(){
            return {
                users: []
            }
        },
        mounted() {
            this.getUsers()
            eventBus.$on('pushUser', ()=>{
                this.getUsers()
            })
        },
        methods:{
            getUsers(){
                axios.get('api/users').then(response=>{
                    this.users = response.data
                })
            },
            deleteEl(id){
                axios.delete('api/users/'+id).then(response=>{
                    this.getUsers()
                })
            }
        },
    }
</script>
